html{
    border: 1px solid black;
    box-shadow: 0 0 13px 3px rgba(19, 228, 255, 0.5);
	
}
body {
    font-size: 14px;
    font-family: Arial, sans-serif;
    background-image: url("images/1539090525b35406d1799b716d0c91dd79a21ee6db.jpg");
    margin-bottom: 600px;
}
header {
    background-color: darkcyan;
    border: 1px solid black;
    height: 60px;
    text-align: center;
}
#main {

}
#menu {
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
    position: relative;
    top: 5px;
    float: left;
    width: 300px;
    border-radius: 5px;
    background-color: darkslategrey;
    box-shadow: 0 0 13px 3px rgb(16, 101, 143);
}
#menu > ul > li {
    border: 2px solid black;
    background-color: cadetblue;
    color: black;
    font-size: 19px;
    border-radius: 5px;
    list-style: none;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 40px;
}
#menu > ul > li > a {
    display: block;
    color: black;
    font-size: 16px;
    text-decoration: none;
    margin: 3px;
    box-shadow: 0 0 13px 3px rgba(19, 228, 255, 0.5);
}
#poisk{
    position: static;
    width: 300px;
}
#poisk > form {
    margin-top: -120px;
    max-width: 95%;
    padding: 30px 30px 30px;
    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 13px 3px rgb(16, 101, 143);
    overflow: hidden;
}
#korzina{
    position: static;
    border-radius: 5px;
    margin-top: 5px;
    width: 300px;
    background-color: #4f7a8b;
}
#korzina > table{
    width: 300px;
    font-size: 13px;
    text-align: center;
    border: solid 2px black;
    box-shadow: 0 0 13px 3px rgba(19, 228, 255, 0.5);
    border-radius: 5px;
}
#cat{
    position: absolute;
    width: 930px;
    left: 350px;
    top: 120px;
    margin-bottom: 10px;
    background-color: darkslategrey;
    border-radius: 5px;
    box-shadow: 0 0 13px 3px rgba(19, 228, 255, 0.5);
}
#cat > a {
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    width: 200px;
    border: solid black 1px;
    color: black;
    font-size: 20px;
    display: inline-block;
    box-shadow: 0 0 13px 3px rgba(19, 228, 255, 0.5);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 22px;
}
#cont{

}
#catalog{
    background-color: #4f7a8b;
    position: absolute;
    float: right;
    top: 275px;
    width: 930px;
    margin-left: 320px;
    margin-bottom: 100px;
    margin-right: 20px;
    box-shadow: 0 0 13px 3px rgba(19, 228, 255, 0.5);
}
#content {
     margin-left: 20px;
}
#order{
    position: relative;
    margin-top: -150px;
    margin-left: 450px;
}
#order2{
    position: absolute;
    top: 260px;
    margin-left: 320px;
}
#order2 > form {
    max-width: 30%;
    padding: 30px 30px 30px 30px;
    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden;
}
#order2 > form > input {
    width: 90%;
    height: 40px;
    border: 1px solid rgba(255,255,255,.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    color: black;
    margin-left: 10px;
}
#order2 > table {
    position: relative;
    margin-top: -450px;
    margin-left: 400px;
    margin-right: 50px;
    background: rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
}
footer{
    position: relative;
    margin-top: 50px;
}